@import './main'

.header-container
  width: 100%
  height: 100%
  padding: 20px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid $light-background-color-02

  .hidden
    visibility: hidden
